/* line 4, ../sass/_global.scss */
body, html {
  height: 100%;
}

/* line 10, ../sass/_global.scss */
nav, h2, h3, h4 {
  font-family: "cabin", "helvetica neue", "helvetica", "arial", "sans-serif";
  font-weight: 400;
}

/* line 15, ../sass/_global.scss */
p, li {
  font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
}

/* line 21, ../sass/_global.scss */
header {
  width: 100%;
  z-index: 6;
  border: 1px solid #191919;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.34);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxMzEzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjNDU0NTQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGY0ZjRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -webkit-linear-gradient(0deg, #313131 0, #454545 64.99%, #4f4f4f 100%);
  background-image: linear-gradient(90deg, #313131 0, #454545 64.99%, #4f4f4f 100%);
  text-align: center;
  position: relative;
  padding: 10px;
}

/* line 35, ../sass/_global.scss */
header h1 {
  background: transparent url(../img/logo.png) left center no-repeat;
  background-size: 18px;
  padding-left: 23px;
  font-size: 18px;
  font-family: "cabin", "helvetica neue", "helvetica", "arial", "sans-serif";
  font-weight: 500;
  display: inline;
}

/* line 45, ../sass/_global.scss */
header a {
  color: #fff;
  text-decoration: none;
}

/* line 50, ../sass/_global.scss */
header nav {
  position: absolute;
  right: 15px;
  top: 12px;
}

/* line 56, ../sass/_global.scss */
#sidebar_backing {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 335px;
  z-index: 4;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.5);
  background: transparent url(../img/rose.png) bottom right no-repeat;
}

/* line 67, ../sass/_global.scss */
#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 335px;
  z-index: 5;
}

/* line 76, ../sass/_global.scss */
#sidebar #location_search_area {
  position: relative;
  max-width: 100%;
  height: 170px;
  padding: 10px;
  z-index: 6;
  background-color: #949494;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.17), inset 0 -1px 0 rgba(255, 255, 255, 0.33);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZTBlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(0deg, #dfe0e3 0, #fff 100%);
  background-image: linear-gradient(90deg, #dfe0e3 0, #fff 100%);
}

/* line 88, ../sass/_global.scss */
#sidebar #location_search_area #geolocate_btn {
  position: relative;
  margin: 10px 0;
  font: bold 21px 'helvetica neue',helvetica,arial,sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  text-indent: 20px;
  border-radius: 5px;
  border: 1px solid #931313;
  background-clip: padding-box;
  background-color: #cb0e0e;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3), 0px 2px 0 0 #910505;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
}

/* line 109, ../sass/_global.scss */
#sidebar #location_search_area #geolocate_btn:active {
  top: 2px;
  box-shadow: none;
  background: #ce0e0e;
}

/* line 115, ../sass/_global.scss */
#sidebar #location_search_area #geolocate_btn img {
  position: absolute;
  left: 25px;
  top: 9px;
}

/* line 121, ../sass/_global.scss */
#sidebar #location_search_area #location_search_bar {
  position: relative;
  margin: 15px auto;
}

/* line 126, ../sass/_global.scss */
#sidebar #location_search_area #location_search_bar input[type=text] {
  width: 277px;
  font: 14px "helvetica neue", "helvetica", "arial", "sans-serif";
  border: 0;
  padding: 5px 30px 5px 10px;
  border-radius: 10px;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 1px 2px 0 rgba(255, 255, 255, 0.3), inset 1px 2px 4px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.12);
  outline: 0;
}

/* line 138, ../sass/_global.scss */
#sidebar #location_search_area #location_search_bar #location_search_submit {
  position: absolute;
  right: -4px;
  top: -2px;
  background: url(../img/search_magnifying_glass.png) center center no-repeat;
  border: 0;
  height: 27px;
  width: 40px;
  text-indent: -9999px;
  cursor: pointer;
  outline: 0;
}

/* line 151, ../sass/_global.scss */
#sidebar #location_search_area #filter_facilities_btn {
  display: block;
  width: 315px;
  margin-left: -10px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #c8c8c8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  font: bold 20px cabin,'helvetica neue',helvetica,arial,sans-serif;
  color: #3e3e3e;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 166, ../sass/_global.scss */
#sidebar #location_search_area #filter_facilities_btn:hover {
  color: #5e5e5e;
}

/* line 170, ../sass/_global.scss */
#sidebar #location_search_area #filter_facilities_btn img {
  margin-bottom: 2px;
  margin-left: 10px;
  -webkit-transition: .2s;
          transition: .2s;
}

/* line 176, ../sass/_global.scss */
#sidebar #location_search_area #filter_facilities_btn .triangle_down {
  margin-bottom: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .2s;
          transition: .2s;
}

/* line 182, ../sass/_global.scss */
#sidebar #location_search_area #remove_all_filters_btn {
  position: absolute;
  bottom: 14px;
  right: 10px;
  font: 12px 'helvetica neue',helvetica,arial,sans-serif;
  color: #3e3e3e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 191, ../sass/_global.scss */
#sidebar #facilities_flyout {
  max-width: 100%;
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
  background: #fff;
  padding: 10px;
  padding-bottom: 50px;
  z-index: 7;
}

/* line 202, ../sass/_global.scss */
#sidebar #facilities_flyout a {
  display: inline-block;
  padding: 3px 5px;
  margin: 4px 2px;
  background: #d7d7d7;
  border-radius: 10px;
  font: 500 12px 'helvetica neue',helvetica,arial,sans-serif;
  color: #3e3e3e;
  text-decoration: none;
}

/* line 213, ../sass/_global.scss */
#sidebar #facilities_flyout a:hover {
  color: #fff;
  background: #3e3e3e;
}

/* line 218, ../sass/_global.scss */
#sidebar #facilities_flyout .facility_selected {
  background: #ffc22d;
  color: #fff;
}

/* line 223, ../sass/_global.scss */
#sidebar #search_results_wrap .search_result {
  list-style-type: none;
  background: transparent url(../img/results_tree.png) 15px center no-repeat;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

/* line 231, ../sass/_global.scss */
#sidebar #search_results_wrap .search_result h2 {
  padding: 16px 0;
  padding-left: 45px;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 240, ../sass/_global.scss */
#sidebar #search_results_wrap .search_result h2:last-child {
  position: absolute;
  top: 0;
  right: 10px;
}

/* line 246, ../sass/_global.scss */
#sidebar #search_results_wrap .search_result:hover {
  background-color: #e5e5e5;
}

/* line 250, ../sass/_global.scss */
#sidebar #search_results_wrap .search_result:active {
  background-color: #3e3e3e;
  color: #fff;
}

/* line 255, ../sass/_global.scss */
#sidebar #search_results_wrap #showing_results_for {
  color: #fff;
  background: #3e3e3e;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
}

/* line 263, ../sass/_global.scss */
#sidebar #search_results_wrap #showing_results_for span {
  font-weight: 400;
}

/* line 267, ../sass/_global.scss */
#sidebar footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #1a1a1a;
  font-size: 12px;
  font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
}

/* line 278, ../sass/_global.scss */
#map_frame {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/* line 288, ../sass/_global.scss */
#map_frame #map_canvas {
  height: 100%;
  margin-right: 335px;
}

/* line 293, ../sass/_global.scss */
#help_modal_screen_cover {
  background-size: cover;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none;
}

/* line 305, ../sass/_global.scss */
#help_modal_screen_cover.help_modal_minimize {
  background: transparent;
  -webkit-transition: all 500ms cubic-bezier(0, -0.355, 0, 0.98);
          transition: all 500ms cubic-bezier(0, -0.355, 0, 0.98);
}

/* line 310, ../sass/_global.scss */
.help_modal {
  display: none;
}

/* line 314, ../sass/_global.scss */
#help_modal {
  width: 412px;
  height: 712px;
  position: absolute;
  right: 50%;
  top: 10%;
  margin-right: -206px;
  z-index: 9999;
  background: url(../img/help_modal.png);
  -webkit-transition: all 500ms cubic-bezier(0, -0.355, 0, 0.98);
          transition: all 500ms cubic-bezier(0, -0.355, 0, 0.98);
}

/* line 326, ../sass/_global.scss */
#help_modal.help_modal_minimize {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 500ms cubic-bezier(0, -0.355, 0, 0.98);
          transition: all 500ms cubic-bezier(0, -0.355, 0, 0.98);
  margin-right: 0;
}

/* line 336, ../sass/_global.scss */
#help_modal.help_modal_minimize #help_modal_close {
  height: 5px;
  bottom: 0;
  font-size: 1px;
  padding: 0;
  margin: 0;
  right: 0;
}

/* line 345, ../sass/_global.scss */
#help_modal #help_modal_close {
  position: absolute;
  right: 50%;
  bottom: 10px;
  margin: 10px auto;
  margin-right: -186px;
  font: bold 21px 'helvetica neue',helvetica,arial,sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  display: block;
  width: 90%;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  border-radius: 5px;
  border: 1px solid #00994c;
  background-clip: padding-box;
  background-color: #00994c;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3), 0px 2px 0 0 #085430;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
}

/* line 368, ../sass/_global.scss */
#help_modal #help_modal_close:active {
  bottom: 8px;
  box-shadow: none;
  background: #085430;
}

/* line 374, ../sass/_global.scss */
#map_canvas .infowindow {
  max-width: 300px;
}

/* line 378, ../sass/_global.scss */
#map_canvas .infowindow h2 {
  font-size: 24px;
}

/* line 382, ../sass/_global.scss */
#map_canvas .infowindow p {
  font-size: 12px;
}

/* line 386, ../sass/_global.scss */
#map_canvas .infowindow ul li {
  display: inline-block;
  padding: 3px 5px;
  margin: 4px 2px;
  background: #d7d7d7;
  border-radius: 10px;
  font: 500 12px 'helvetica neue',helvetica,arial,sans-serif;
  color: #3e3e3e;
}

/* line 396, ../sass/_global.scss */
#map_canvas .infowindow ul li span {
  border-radius: 10px;
  background: #3e3e3e;
  color: #d7d7d7;
  padding: 0 5px;
  margin-left: 5px;
}

/* line 404, ../sass/_global.scss */
#map_canvas .infowindow a {
  float: right;
  margin-bottom: 3px;
  font: bold 14px 'helvetica neue',helvetica,arial,sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  display: block;
  width: 100px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #00994c;
  background-clip: padding-box;
  background-color: #00994c;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3), 0px 2px 0 0 #085430;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
}

/* line 425, ../sass/_global.scss */
#map_canvas .infowindow a:active {
  bottom: 8px;
  box-shadow: none;
  background: #085430;
}

/* line 431, ../sass/_global.scss */
#map_canvas .infowindow .parkLink {
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  padding: 5px;
}

/* line 438, ../sass/_global.scss */
#about_body {
  background: url(../img/about_bg_trim.png) left 420px repeat-x, url(../img/about_bg3.jpg) top center no-repeat, url(../img/about_bg_brilliant.png) repeat;
}

/* line 442, ../sass/_global.scss */
#container {
  max-width: 960px;
  margin: 280px auto 30px;
  padding: 0 20px;
}

/* line 448, ../sass/_global.scss */
#container h2 {
  font-size: 42px;
  color: #fff;
  text-shadow: 0 0 8px black,0px 0 8px #000;
}

/* line 454, ../sass/_global.scss */
#container h3 {
  font-size: 24px;
  line-height: 32px;
  color: #3e3e3e;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: #949494;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.17), inset 0 -1px 0 rgba(255, 255, 255, 0.33);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZTBlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(0deg, #dfe0e3 0, #f6f6f6 100%);
  background-image: linear-gradient(90deg, #dfe0e3 0, #f6f6f6 100%);
  background-image: linear-gradient(90deg, #dfe0e3 0, #f6f6f6 100%);
}

/* line 467, ../sass/_global.scss */
#container h4 {
  font-size: 20px;
  line-height: 32px;
}

/* line 472, ../sass/_global.scss */
#container li {
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 1.2em;
}

/* line 478, ../sass/_global.scss */
#container p {
  margin-bottom: 10px;
  line-height: 1.2em;
}

/* line 483, ../sass/_global.scss */
#container #banner h1 {
  color: #fff;
  font-size: 78px;
  margin-bottom: 90px;
  text-shadow: 0 0 8px #000;
}

/* line 490, ../sass/_global.scss */
#container #about {
  margin-bottom: 60px;
}

/* line 494, ../sass/_global.scss */
#container #help h4 {
  display: block;
  border-bottom: 3px double #dedada;
  margin-bottom: 5px;
}

/* line 500, ../sass/_global.scss */
#container #help .help_item {
  padding: 10px;
  margin-bottom: 10px;
}

/* line 505, ../sass/_global.scss */
#container #features {
  margin-top: 20px;
}

/* line 509, ../sass/_global.scss */
#container #features div {
  height: 200px;
  position: relative;
}

/* line 514, ../sass/_global.scss */
#container #features h4 {
  display: block;
  width: 100px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -50px;
}

/* line 525, ../sass/_global.scss */
#container #features img {
  display: block;
  margin: 0;
  margin-left: -84px;
  position: absolute;
  bottom: 50px;
  left: 50%;
}

/* line 534, ../sass/_global.scss */
#container #contact label {
  font-family: "cabin", "helvetica neue", "helvetica", "arial", "sans-serif";
}

/* line 538, ../sass/_global.scss */
#container #contact #twitter {
  display: block;
  font-size: 32px;
  margin: 10px 0px;
  padding: 10px 0px 10px 45px;
  background: url("../img/twitter-bird.png") center left no-repeat;
  text-decoration: none;
  border-bottom: 3px double #dedada;
  color: #3e3e3e;
  font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
}

/* line 551, ../sass/_global.scss */
#container #contact #twitter:hover {
  color: #20b1e8;
}

/* line 555, ../sass/_global.scss */
#container #contact #email {
  background: none;
  font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
  box-shadow: none;
  font-size: 26px;
}

/* line 563, ../sass/_global.scss */
#container #contact #email a {
  color: #3e3e3e;
  text-decoration: none;
}

/* line 568, ../sass/_global.scss */
#container #contact #email a:hover {
  color: #20b1e8;
}

/* line 572, ../sass/_global.scss */
#container #contact input[type=text], #container #contact input[type=email], #container #contact textarea {
  width: 87%;
  font: 14px 'helvetica neue',helvetica,arial,sans-serif;
  margin: 15px auto;
  border: 0;
  padding: 5px 30px 5px 10px;
  border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 1px 2px 0 rgba(255, 255, 255, 0.3), inset 1px 2px 4px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.12);
  outline: 0;
}

/* line 586, ../sass/_global.scss */
#container #contact input[type=submit] {
  position: relative;
  margin: 10px 0;
  font: bold 21px 'helvetica neue',helvetica,arial,sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  display: block;
  width: 100px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  float: right;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #931313;
  background-clip: padding-box;
  background-color: #cb0e0e;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3), 0px 2px 0 0 #910505;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.17) 0, rgba(255, 255, 255, 0.17) 100%);
}

/* line 608, ../sass/_global.scss */
#container #contact input[type=submit]:active {
  top: 2px;
  box-shadow: none;
  background: #ce0e0e;
}

/* line 614, ../sass/_global.scss */
footer {
  background: #3e3e3e;
  padding: 0 10px;
  color: #fff;
  margin-top: 30px;
}

/* line 621, ../sass/_global.scss */
footer p.span_8_of_12 {
  text-align: right;
}

/* line 625, ../sass/_global.scss */
footer p.span_8_of_12 a {
  color: #fcb400;
}

/* line 629, ../sass/_global.scss */
footer p.span_8_of_12 span {
  display: inline-block;
  background: transparent url(../img/canada.png) center center no-repeat;
  width: 30px;
  height: 14px;
}

/* line 636, ../sass/_global.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

/* line 642, ../sass/_global.scss */
.col:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 480px) {
  /* line 647, ../sass/_global.scss */
  .col {
    margin: 1% 0;
  }
}
/* line 652, ../sass/_global.scss */
.span_12_of_12 {
  width: 100%;
}

/* line 656, ../sass/_global.scss */
.span_11_of_12 {
  width: 91.46%;
}

/* line 660, ../sass/_global.scss */
.span_10_of_12 {
  width: 83%;
}

/* line 664, ../sass/_global.scss */
.span_9_of_12 {
  width: 74.54%;
}

/* line 668, ../sass/_global.scss */
.span_8_of_12 {
  width: 66.08%;
}

/* line 672, ../sass/_global.scss */
.span_7_of_12 {
  width: 57.62%;
}

/* line 676, ../sass/_global.scss */
.span_6_of_12 {
  width: 49.16%;
}

/* line 680, ../sass/_global.scss */
.span_5_of_12 {
  width: 40.7%;
}

/* line 684, ../sass/_global.scss */
.span_4_of_12 {
  width: 32.24%;
}

/* line 688, ../sass/_global.scss */
.span_3_of_12 {
  width: 23.78%;
}

/* line 692, ../sass/_global.scss */
.span_2_of_12 {
  width: 15.32%;
}

/* line 696, ../sass/_global.scss */
.span_1_of_12 {
  width: 6.86%;
}

@media only screen and (max-width: 480px) {
  /* line 701, ../sass/_global.scss */
  .span_12_of_12 {
    width: 100%;
  }

  /* line 705, ../sass/_global.scss */
  .span_11_of_12 {
    width: 100%;
  }

  /* line 709, ../sass/_global.scss */
  .span_10_of_12 {
    width: 100%;
  }

  /* line 713, ../sass/_global.scss */
  .span_9_of_12 {
    width: 100%;
  }

  /* line 717, ../sass/_global.scss */
  .span_8_of_12 {
    width: 100%;
  }

  /* line 721, ../sass/_global.scss */
  .span_7_of_12 {
    width: 100%;
  }

  /* line 725, ../sass/_global.scss */
  .span_6_of_12 {
    width: 100%;
  }

  /* line 729, ../sass/_global.scss */
  .span_5_of_12 {
    width: 100%;
  }

  /* line 733, ../sass/_global.scss */
  .span_4_of_12 {
    width: 100%;
  }

  /* line 737, ../sass/_global.scss */
  .span_3_of_12 {
    width: 100%;
  }

  /* line 741, ../sass/_global.scss */
  .span_2_of_12 {
    width: 100%;
  }

  /* line 745, ../sass/_global.scss */
  .span_1_of_12 {
    width: 100%;
  }
}
/* line 750, ../sass/_global.scss */
.group:before, .group:after {
  content: "";
  display: table;
}

/* line 755, ../sass/_global.scss */
.group:after {
  clear: both;
}

/* line 759, ../sass/_global.scss */
.span_12_of_12, .span_9_of_12, .span_3_of_12 {
  background: rgba(0, 0, 0, 0.3);
}

/* line 763, ../sass/_global.scss */
.span_3_of_12 {
  min-width: 200px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
