@import "_variables.scss";
header nav {
	position: absolute;
	right: 15px;
	top: 12px;
}

#filter_facilities_btn {
	display:block;
	padding:10px;
	font: bold 20px $font-heading;
	color: #3e3e3e;
	text-decoration: none;
    text-shadow: 0, 1px, 0, rgba(255, 255, 255, 0.5);
	width:100%;
	margin-left:-10px;
	position:absolute;
	bottom:0;
	border-top:1px solid #c8c8c8;
	box-shadow:inset 0 1px 1px rgba(255,255,255,.5);
}

#filter_facilities_btn:hover { color:#5e5e5e; }

#filter_facilities_btn img {
	margin-bottom:2px;
	margin-left:10px;
	transition:.2s;
}

#filter_facilities_btn .triangle_down {
	margin-bottom:0;
	transform:rotate(90deg);
	transition:.2s;
}

#sidebar_backing {
	position:fixed;
	right:0;
	top:0;
	bottom:0;
	width:335px;
	z-index:4;
}

#sidebar {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:335px;
	z-index:5;
}

#remove_all_filters_btn {
	position:absolute;
	bottom:14px;
	right:10px;
	color:#3e3e3e;
}

#facilities_flyout {
	max-width:100%;
	min-height:100px;
	max-height:200px;
	overflow-y:scroll;
	background:#fff;
	padding:10px;
	padding-bottom:50px;
	z-index:7;
}

#facilities_flyout a {
	display:inline-block;
	padding:3px 5px;
	margin:4px 2px;
	background:#d7d7d7;
	border-radius:10px;
	font:500 12px $font-body;
	color:#3e3e3e;
	text-decoration:none;
}

#location_search_area #geolocate_btn:active {
	top:2px;
	box-shadow:none;
	background:#ce0e0e;
}

#location_search_area #geolocate_btn img {
	position:absolute;
	left:25px;
	top:9px;
}

#location_search_area {
	position:relative;
	max-width:100%;
	height:170px;
	padding:10px;
	z-index:6;
	background-color:#949494;
	box-shadow:0 5px 5px rgba(0,0,0,.17),inset 0 -1px 0 rgba(255,255,255,.33);
	background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZTBlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image:linear-gradient(90deg,#dfe0e3 0,#fff 100%);
}

#location_search_area #location_search_bar {
	position:relative;
	margin: 15px auto;
}

#location_search_area #location_search_bar input[type=text] {
	width:277px;
	font:14px $font-body;
	border:0;
	padding:5px 30px 5px 10px;
	border-radius:10px;
	background-clip:padding-box;
	background-color:#fff;
	box-shadow:1px 2px 0 rgba(255,255,255,.3),inset 1px 2px 4px rgba(0,0,0,.07),0 0 0 1px rgba(0,0,0,.12);
	outline:0;
}

#location_search_area #location_search_bar #location_search_submit {
	position:absolute;
	right:-4px;
	top: -2px;
	background:url(../img/search_magnifying_glass.png) center center no-repeat;
	border:0;
	height:27px;
	width:40px;
	text-indent:-9999px;
	cursor:pointer;
	outline:0;
}

#location_search_area #geolocate_btn {
	position:relative;
	margin:10px 0;
	font:bold 21px $font-body;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(0,0,0,.5);
	display:block;
	width:100%;
	color:#fff;
	text-align:center;
	padding:12px 0;
	text-indent:20px;
	border-radius:5px;
	border:1px solid #931313;
	background-clip:padding-box;
	background-color:#cb0e0e;
	box-shadow:inset 0 -1px 1px rgba(255,255,255,.3),0px 2px 0 0 #910505;
	background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image:linear-gradient(90deg,rgba(0,0,0,.17) 0,rgba(255,255,255,.17) 100%);
}

#help_modal #help_modal_close:active {
	bottom:8px;
	box-shadow:none;
	background:#085430;
}

#map_frame #map_canvas {
	margin-right:335px;
}

